
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); 

  body{
    font-family: "Azeret Mono",monospace;
  }
  /* banner */

  .banner{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    padding-top: 35px;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  
  .banner-image{
    display: flex;
    justify-content: center;
    text-align: center;
   
   
  }

  

  .banner-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    
  }
  .banner-description{
    color: #0D1321;
    text-align: center;
    
  }
  .button{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .btn{
    font-family: "Azeret Mono",monospace;
    margin-bottom: 25px;
     padding: 15px 12px; 
    border-radius: 5px;
    background-color: #1E1E1E;
    color: white;
    font-size: 16px;
    font-weight: 500;
    }
    /* section part */
   .whywebdev{
    padding: 80px 97px;
    margin-top: 70px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #f8f9fa;
   }
   


    .section-title{
      font-size: 32px;
      font-weight: 800;
      text-align: center;
      margin-top: 90px;
      

    }
    .section-description{
      color: #0D1321;
      text-align: center;
      
      margin-bottom: 45px;
    }

    .section-content-title{
      font-size: 24px;
      font-weight: bold;
      
      
    }
    .section-content-description{
      color: #0D1321;
      
    }

    .section-button{
      font-family: "Azeret Mono",monospace;
      padding: 12px 20px;
      color: #0D1321;
      font-size: 20px;
      background-color: white;
      
    }
    .section-content1, .section-content3{
      display: flex;
      padding: 48px 48px;
      margin: 97px 32px; 
     border-radius: 5px;
     background-color: white;
    }
    .content1, .content3{
      margin-right: 60px;
    }

    .section-content2{
      display: flex;
      gap: 32px;
      padding: 48px 48px;
      margin: 97px 32px;
      border-radius: 5px;
      background-color: white;
    }
    .content2{
      margin-left: 40px;
    }
    /* section2=inspiration part */

    .section2-title{
      font-size: 32px;
      font-weight: 800;
      text-align: center;
     margin-top: 100px;
     
      

    }
    .section2-description{
      color: #0D1321;
      text-align: center;
      margin-bottom: 10px;
      
     
    }

    .inspo-vdo{
      
      border: 2px solid lightgrey;
      border-radius: 16px;
      padding: 32px;
      margin: 48px 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }


