
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); 

  body{
    font-family: "Azeret Mono",monospace;
  }
  /* banner */

  .banner{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    padding-top: 35px;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  
  .banner-image{
    display: flex;
    justify-content: center;
    text-align: center;
   
   
  }
  .banner-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    
  }
  .banner-description{
    color: #0D1321;
    text-align: center;
    
  }
  .button{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .btn{
    font-family: "Azeret Mono",monospace;
    margin-bottom: 25px;
     padding: 15px 18px; 
    border-radius: 8px;
    background-color: #1E1E1E;
    color: white;
    font-size: 16px;
    font-weight: 500;
    }

    /* section part */
   .whywebdev{
    padding: 80px 97px;
    margin-top: 74px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #f8f9fa;
    border-radius: 16px;
  }
    .section-title{
      font-size: 32px;
      font-weight: 800;
      text-align: center;
      margin-top: 40px;
    margin-bottom: 24px;
  }
    .section-description{
      color: #0D1321;
      text-align: center;
      margin-bottom: 24px;
   }
  
    .section-content-title{
      font-size: 24px;
      font-weight: bold;
      
      
    }
    .section-content-description{
      color: #0D1321;
      
    }

    .section-button{
      font-family: "Azeret Mono",monospace;
      padding: 12px 20px;
      color: #0D1321;
      font-size: 20px;
      background-color: white;
      
    }
    .section-content1, .section-content3{
      display: flex;
      padding: 48px 48px;
      margin: 32px; 
     border-radius: 16px;
     background-color: white;

    }
    .content1, .content3{
      margin-right: 60px;
    }

    .section-content2{
      display: flex;
      gap: 32px;
      padding: 48px 48px;
      margin: 32px;
      border-radius: 16px;
      background-color: white;
    }
    .content2{
      margin-left: 40px;
    }

    /* section2=inspiration part */

    .section2-title{
      font-size: 32px;
      font-weight: 800;
      text-align: center;
     margin-top: 100px;
     
      

    }
    .section2-description{
      color: #0D1321;
      text-align: center;
      margin-bottom: 10px;
      
     
    }

    .inspo-vdo{
      
      border: 2px solid lightgrey;
      border-radius: 16px;
      padding: 32px;
      margin: 48px 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    /* targets design */

    .targets{
      display: flex;
      margin: 50px 150px;
      gap: 24px;
    }



    .target-title{
      font-size: 24px;
      font-weight:900;
     
    }
    .target-description{
      color: #0D1321;
    }
    .target1{
      background-color: rgba(255, 76, 30, 0.1);
      padding: 40px;
      border-radius: 16px;
      
      
      
    }
    .target2{
      background-color: rgba(0, 76, 232, 0.1);
      padding: 40px;
      border-radius: 16px;
     
    }
    .target3{
      background-color: rgba(255, 223, 0, 0.1);
      padding: 40px;
      border-radius: 16px;

    }
  .need-support{
    display: flex;
   justify-content: center;
    text-align: center;
  }
    .support{
      background-image: url('../assets/handshake.jpg');
      
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 16px;
    margin: 150px 150px;
    padding: 64px 48px; 


    border-radius: 16px;

    }

    .sup-title{
      color: white;
      font-size: 32px;
      font-weight: bold;
    }
    .sup-content{
      color: white;
      
    }

    input[type="text"]{
      font-family: "Azeret Mono",monospace;
      color: #0D1321;
      height: 57px;
      width: 545px;
      padding-left: 20px;
      border: none;
      border-radius: 8px;
    }

    input[type="submit"]{
      color: #0D1321;
      font-size: 20px;
      font-weight: 500;
      font-family: "Azeret Mono",monospace;
      height: 57px;
      width: 120px;
      border: none;
      border-radius: 8px;
      
     
    }
    /* footer */
    .footer{
      display: flex;
      justify-content: space-around;
      width: 100%;
      
      
    }
    .footer p{
      font-size: 20px;
      font-weight: 500;
    }
    .footer ul li{
      list-style: none;
      display: inline-block;
     
    }